<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>redpackBroadcastBg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{986,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,0},{986,56}}</string>
                <key>sourceSize</key>
                <string>{1136,56}</string>
            </dict>
            <key>rp_btn_select_ddz.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,446},{191,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,243}}</string>
                <key>sourceSize</key>
                <string>{191,243}</string>
            </dict>
            <key>rp_btn_select_guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{224,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,275}}</string>
                <key>sourceSize</key>
                <string>{224,275}</string>
            </dict>
            <key>rp_btn_select_guang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,74},{504,502}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{504,502}}</string>
                <key>sourceSize</key>
                <string>{512,508}</string>
            </dict>
            <key>rp_btn_select_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,253},{191,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,243}}</string>
                <key>sourceSize</key>
                <string>{191,243}</string>
            </dict>
            <key>rp_btn_select_mj.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,60},{191,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,243}}</string>
                <key>sourceSize</key>
                <string>{191,243}</string>
            </dict>
            <key>rp_btn_select_result.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,580},{191,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,251}}</string>
                <key>sourceSize</key>
                <string>{191,251}</string>
            </dict>
            <key>rp_icon_avard_quan.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,873},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>rp_main_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{520,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{520,104}}</string>
                <key>sourceSize</key>
                <string>{522,104}</string>
            </dict>
            <key>rp_redpacket_rain.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,873},{118,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,136}}</string>
                <key>sourceSize</key>
                <string>{118,136}</string>
            </dict>
            <key>rp_task_btn_redpacket.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,833},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{62,64}</string>
            </dict>
            <key>rp_task_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,941},{39,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,38}}</string>
                <key>sourceSize</key>
                <string>{39,38}</string>
            </dict>
            <key>rp_task_main_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,833},{189,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{189,56}}</string>
                <key>sourceSize</key>
                <string>{191,58}</string>
            </dict>
            <key>rp_task_slide_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,994},{115,19}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{115,19}}</string>
                <key>sourceSize</key>
                <string>{123,27}</string>
            </dict>
            <key>rp_task_slide_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,873},{119,23}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{119,23}}</string>
                <key>sourceSize</key>
                <string>{123,27}</string>
            </dict>
            <key>rp_task_slide_type_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,873},{66,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{66,18}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
            <key>rp_task_slide_type_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{70,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{70,24}}</string>
                <key>sourceSize</key>
                <string>{74,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameSceneRedPacket_1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:303f4d924088178a90798f13ef3c1419$</string>
            <key>textureFileName</key>
            <string>GameSceneRedPacket_1.png</string>
        </dict>
    </dict>
</plist>
