<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fanxing_content_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,968},{670,508}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{670,508}}</string>
                <key>sourceSize</key>
                <string>{680,530}</string>
            </dict>
            <key>fanxing_content_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{680,988}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{680,988}}</string>
                <key>sourceSize</key>
                <string>{680,1000}</string>
            </dict>
            <key>fanxing_content_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{672,964}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{672,964}}</string>
                <key>sourceSize</key>
                <string>{680,1000}</string>
            </dict>
            <key>fanxing_content_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{656,970}}</string>
                <key>offset</key>
                <string>{-12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{656,970}}</string>
                <key>sourceSize</key>
                <string>{680,1000}</string>
            </dict>
            <key>fanxing_content_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{666,1000}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{666,1000}}</string>
                <key>sourceSize</key>
                <string>{680,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameFanXingTipStyle2.hbermj.1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:746d9d305ad356725f7d82da72eb9d34$</string>
            <key>textureFileName</key>
            <string>GameFanXingTipStyle2.hbermj.1.png</string>
        </dict>
    </dict>
</plist>
