<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fanxing_content_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1364},{664,990}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{664,990}}</string>
                <key>sourceSize</key>
                <string>{680,1000}</string>
            </dict>
            <key>fanxing_content_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1004},{680,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,1000}}</string>
                <key>sourceSize</key>
                <string>{680,1000}</string>
            </dict>
            <key>fanxing_content_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{680,1000}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,1000}}</string>
                <key>sourceSize</key>
                <string>{680,1000}</string>
            </dict>
            <key>fanxing_content_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{678,1000}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{678,1000}}</string>
                <key>sourceSize</key>
                <string>{680,1000}</string>
            </dict>
            <key>fanxing_content_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,682},{680,996}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,996}}</string>
                <key>sourceSize</key>
                <string>{680,1000}</string>
            </dict>
            <key>spt_title_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2006},{141,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,35}}</string>
                <key>sourceSize</key>
                <string>{141,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>GameFanXingTipStyle2.hbermj.0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b224c8dbb2618c0986edc9178521e481$</string>
            <key>textureFileName</key>
            <string>GameFanXingTipStyle2.hbermj.0.png</string>
        </dict>
    </dict>
</plist>
